<p>Hi and welcome to my website, so fun that you have found this webpage<br> Hi my name is Annie Johansson and I am a software engineering student, On this page I will upload blogposts about myself and about other stuff. </p>
<form method="get" action="/blogpost/search" id="search-box" class="input-group input-inline">
      <input class="form-input input-sm" type="text" name="search" placeholder="Search blogpost title">
      <input type="submit" class="btn btn-primary btn-sm input-group-btn" value="Search">
</form>
<h2>Daily posts</h2>
{{#if blogposts.length}}
    {{#each blogposts}}
    <div class="box-post">
      <h3>#{{id}} {{title}}</h3>
      <p>{{content}}</p>
      <form method="get" action="/blogpost/blogpost/{{id}}">
        <input type="submit" class="btn btn-primary" value="Read more">  
      </form> 
      {{#if ../isLoggedIn}}
        <a href="/blogpost/update/{{id}}" class="btn btn-success">Update post</a>
      <form method="post" action="/blogpost/delete/{{id}}">
        <!--<input type="hidden" name="_csrf" value="{{csrfToken}}">-->
        <input type="submit" class="btn btn-error" value="Delete post">  
      </form>  
      {{/if}}
    </div>
    {{/each}}
{{else}}
  <p>No posts exist.</p>
{{/if}}

